/FR_System/Embedder/Pretrained Backbones/
/ModelX_Zoo/
/.idea/
/demo/Data/iresnet100_data_vectors.npy
/demo/Data/LFW_Demo/
/demo/Data/attack_data_vectors.npy
/demo/Data/attack_demo_data.csv
/demo/Data/target_model_demo_data.csv

/demo/Data/iresnet100.pth
/demo/Data/iresnet100_checkpoint.pth
/demo/Data/iresnet100_data_demo_attacker_vectors.npy
/demo/Data/iresnet100_data_demo_vectors.npy
/demo/Data/mitigation_attacker_data_demo_vectors.npy
/demo/Data/mitigation_data_demo_vectors.npy
/demo/Data/names_attacker.npy
/demo/Data/names_train.npy
/demo/Data/target_model_demo_data_modified.csv
/Data/iresnet100_demo_checkpoint.pthcheckpoint.pth
/Data/iresnet100_demo_checkpoint.pthcheckpoint.pthcheckpoint.pth
/Data/iresnet100_demo_checkpointcheckpoint.pth
/Data/iresnet100_mitigation_demo_checkpoint.pthcheckpoint.pth
/Data/iresnet100_mitigation_demo_checkpoint.pthcheckpoint.pthcheckpoint.pth
